<!-- <h2>Directive Component</h2>
ngIf
<p *ngIf="showFlag && (age > 18)">{{showtext}}</p>
ngFor
<select class="from-control" [(ngModel)]="selectedCountry">
  <option *ngFor="let cnt of country">{{cnt}}</option>
</select>

NgSwitch
<div [ngSwitch]="state">
  <div *ngSwitchCase="'KA'">Karnatak</div>
  <div *ngSiwtchCase="'MP'">MP</div>
  <div *ngSwitchCase="'MH'">Maharashtra</div>
</div>
<div [ngSwitch]="state">
  <div *ngSwitchCase="'KA'">Karnataka</div>
  <div *ngSwitchCaseDefault>This default  case</div>
</div>

<h4>Attribute binding</h4>
ngClass
<p class="testClass">This is p tag with normal class</p>
<p [ngClass]="testClass">This is p tag with ngclass</p>

ngStyle
<p style="color:red">This p tag with normal style</p>
<p [ngStyle]="{'color':'blue'}">This p tag with ngStyle</p>

<p [ngStyle]="showFlag ? testStyle1 :testStyle2">This is p tag with ternory operator</p> -->