<!-- <p>databinding works!</p>
<p>Interpolation or string interpolation</p>
<h2>{{name}}</h2>

<p>attribute or property binding</p>
<a [href]="test">Go to Google</a>

<p>in binding</p>
<button class="btn btn-info" (click)="Event()">Edit</button>

<p>Two way databinding</p>
<input type="text" name="" [(ngModel)]="fname">
<h4>Your name is:{{fname}}</h4> -->
 <p>Interpolation and string interpolation</p>
 <h3>{{name}}</h3>

 <p>propery and attribute binding</p>
 <a [href]="test1">go to google</a>

 <p>event binding</p>
 <button class="btn btn-info" (click)="Event()">Edit</button>

 <p>Two way databinding</p>
 <input type="text" name="fname" [(ngModel)]="fname">
 <h5>Your name is:{{fname}}</h5>
 <h5>Databinding component</h5>
